<ion-header>
  <ion-toolbar>
    <ion-buttons style="position: absolute;" slot="start">
      <ion-back-button defaultHref="" text=""></ion-back-button>
      </ion-buttons>
    <ion-title style="text-align: center;">课程圈</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex;flex-direction: row;">
    <!-- <img src="../../../assets/img/search.png" style="width: 6%;height: 6%;margin-left: 20px;margin-right: 5px;padding-top: 13px;" alt="">
      <ion-input type="text" placeholder="search"></ion-input> -->
    <ion-searchbar></ion-searchbar>
  </div>
  <ion-list style="box-shadow: 5px 5px 5px #888888;">
    <ion-item class="ion-no-padding">
      <ion-avatar style="margin: 5px 10px 75px 10px;">
        <img src="../../../assets/img/memberImg.png" />
      </ion-avatar>
      <div style="width: 80%;display: flex;flex-direction: column;">
        <div style="padding-bottom: 5px;border-bottom: 1px solid #d7d8da;">
          <ion-label style="float: left;">到云-官方</ion-label>
          <ion-label style="float: right;">16：09</ion-label>
        </div>
        <div style="padding-bottom: 5px;">
          <ion-textarea readonly value="说点什么呢？"></ion-textarea>
        </div>
        <div>
          <ion-grid style="text-align: right;">
            <ion-row>
              <ion-col><ion-icon name="thumbs-up-outline"></ion-icon></ion-col>
              <ion-col><ion-icon name="thumbs-down"></ion-icon></ion-col>
              <ion-col><ion-icon name="arrow-undo"></ion-icon></ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </ion-item>

    <ion-item class="ion-no-padding">
      <ion-avatar style="margin: 5px 10px 75px 10px;">
        <img src="../../../assets/img/memberImg.png" />
      </ion-avatar>
      <div style="width: 80%;display: flex;flex-direction: column;">
        <div style="padding-bottom: 5px;border-bottom: 1px solid #d7d8da;">
          <ion-label style="float: left;">到云-官方</ion-label>
          <ion-label style="float: right;">16：09</ion-label>
        </div>
        <div style="padding-bottom: 5px;">
          <ion-textarea readonly value="说点什么呢？"></ion-textarea>
        </div>
        <div>
          <ion-grid style="text-align: right;">
            <ion-row>
              <ion-col><ion-icon name="thumbs-up-outline"></ion-icon></ion-col>
              <ion-col><ion-icon name="thumbs-down"></ion-icon></ion-col>
              <ion-col><ion-icon name="arrow-undo"></ion-icon></ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </ion-item>

    <ion-item class="ion-no-padding">
      <ion-avatar style="margin: 5px 10px 75px 10px;">
        <img src="../../../assets/img/memberImg.png" />
      </ion-avatar>
      <div style="width: 80%;display: flex;flex-direction: column;">
        <div style="padding-bottom: 5px;border-bottom: 1px solid #d7d8da;">
          <ion-label style="float: left;">到云-官方</ion-label>
          <ion-label style="float: right;">16：09</ion-label>
        </div>
        <div style="padding-bottom: 5px;">
          <ion-textarea readonly value="说点什么呢？"></ion-textarea>
        </div>
        <div>
          <ion-grid style="text-align: right;">
            <ion-row>
              <ion-col><ion-icon name="thumbs-up-outline"></ion-icon></ion-col>
              <ion-col><ion-icon name="thumbs-down"></ion-icon></ion-col>
              <ion-col><ion-icon name="arrow-undo"></ion-icon></ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
