<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  <ion-title>关于我们</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>

  <!-- 存在还没下划线去掉，以及文字无法居中问题 -->

  <ion-list style="text-align:center" lines="full">
    <ion-item style="text-align:center">
      <span>
        到云开发人员
      </span>
    </ion-item>

    <ion-item style="text-align:center">
      <span>
        版本：1.0.0 发布日期：2020.03.05
      </span>
    </ion-item>

    <ion-item style="text-align:center">
      <span>
        黄旭
      </span>
    </ion-item>

    <ion-item style="text-align:center">
      <span>
        付乐乐
      </span>
    </ion-item>
    <ion-item style="text-align:center">
      <span>
        林炳辉
      </span>
    </ion-item>
    <ion-item style="text-align:center">
      <span>
        李鸣
      </span>
    </ion-item>
    <ion-item style="text-align:center">
      <span>
        杨立坚
      </span>
    </ion-item>

  </ion-list>
</ion-content>