<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  <ion-title>个人信息</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full">

    <ion-item>
      头像
      <span class="item_note" slot="end">
        <img src="../../../../assets/img/touxiang.png" />
      </span>
    </ion-item>

    <ion-item>
      姓名
      <span class="item_note" slot="end">
        {{user.User_Name}}
      </span>
    </ion-item>

    <ion-item>
      性别
          <ion-radio-group value="{{user.sex}}" style="display: flex;margin: 0 auto;">      
            <ion-item>
              <ion-label>男</ion-label>
              <ion-radio disabled="true" value="1"></ion-radio>
              
            </ion-item>
        
            <ion-item>
              <ion-label>女</ion-label>
              <ion-radio disabled="true" value="0"></ion-radio>
            </ion-item>
            </ion-radio-group>
    </ion-item>

    <ion-item class="item-icon-right">
      院系
      <span class="item_note" slot="end">
        {{user.school}} {{user.college}}
      </span>
    </ion-item>

    <ion-item>
      身份
          <ion-radio-group value="{{user.identity}}" style="display: flex;margin: 0 auto;">      
            <ion-item style="--border-width: 0 0 1px 0">
              <ion-label>学生</ion-label>
              <ion-radio disabled="true" value="0"></ion-radio>
            </ion-item>
        
            <ion-item style="--border-width: 0 0 1px 0">
              <ion-label>老师</ion-label>
              <ion-radio disabled="true" value="1"></ion-radio>
            </ion-item>
            </ion-radio-group>
    </ion-item>

  </ion-list>

</ion-content>
