<ion-header [translucent]="true" style="background: rgb(248, 248, 248);">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      发现
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button (click)="goCurriculumCircle()" fill="outline" expand="block" style="--border-radius: 0%"> 
    <div style="display: flex;flex-direction: row;position: absolute;left: -10px;">
      <ion-avatar>
        <img style="max-width: 86%;max-height: 85%;padding-top: 7px;" src="../../../assets/img/kechenquan.png"/>
      </ion-avatar>
      <ion-label style="line-height: 50px;">课程圈</ion-label>
    </div>
    <ion-icon style="position: absolute;right: 0px;" name="code-outline"></ion-icon>
  </ion-button>

</ion-content>
