<ion-header [translucent]="true" style="background: rgb(248, 248, 248);">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      发现
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-button (click)="find()" fill="outline" expand="block" style="margin-top: 20px;" > 
    <ion-label>发现</ion-label>
  </ion-button>

  <ion-button (click)="kechenquan()" fill="outline" expand="block" style="margin-top: 50px;"> 
    <ion-avatar item-left>
      <img src="../../../assets/img/kechenquan.png" />
    </ion-avatar>
    课程圈
    <!-- <ion-icon name="code-outline" slot="end"></ion-icon> -->
  </ion-button>

</ion-content>
