<ion-header>
  <ion-toolbar>
    <ion-buttons style="position: absolute;" slot="start">
      <ion-back-button defaultHref="" text=""></ion-back-button>
      </ion-buttons>
    <ion-title style="text-align: center;">设置密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input type="password" placeholder="输入密码"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-input type="password" placeholder="确认密码"></ion-input>
    </ion-item>
    <div style="width: 100%;margin-top: 5px;">
      <ion-label style="text-align: right;font-size: 15px;">密码长度8-32位，需包含数字、字母、符号至少2种或以上元素</ion-label>
  </div>
  <ion-button (click)="finishSignUp()" color="primary" style="width: 100%;margin-top: 50px;">注册完成</ion-button>
  </ion-list>
</ion-content>