img{
    margin: 0 auto;
    display: block;
    width: 35%;
    margin-top: 30px;
}
ion-icon{
    margin-right: 10px;
}
ion-list{
    width: 80%;
}
.myclass1 {
    border-style: none none solid none;
    border-width: 1px;
    border-color: grey;
}
.myclass2 {
    border-style: none none solid none;
    border-color: blue;
}